@use 'presets' as *;

.widgets-news
{
    display: none;

    @include lg-min
    {
        display: flex;
        flex-direction: column;

        padding-bottom: 15px;
    }

    &__item
    {
        margin-bottom: 7px;

        transition: background .5s;

        &:hover
        {
            background: radial-gradient(
            circle,
            rgba(#000, .6) 0%,
            rgba(#000, .3) 50%,
            rgba(#000, .01) 100%
            );
        }
        &:hover .widgets-news__item-title
        {
            color: $color-accent;

            @include text-shadow;
        }
        &:hover .widgets-news__item-text
        {
            color: $color-light;
        }
        &:hover .widgets-news__item-poster img
        {
            transform: scale(1.2);
        }
    }

    &__item-title
    {
        font-weight: 300;

        overflow: hidden;

        max-width: 100%;
        margin: 0 0 10px;

        transition: color .5s;
        white-space: nowrap;
        letter-spacing: .07em;
        text-overflow: ellipsis;
    }

    &__description
    {
        display: flex;

        margin-bottom: 5px;

        gap: 10px;
    }

    &__item-poster
    {
        overflow: hidden;

        width: 75px;
        height: 75px;

        border-radius: 4px;

        img
        {
            width: 100%;
            height: 100%;

            transition: transform .5s;

            object-fit: cover;
        }
    }

    &__item-text
    {
        font-size: 13px;
        font-weight: 300;
        line-height: 1.47em;

        display: -webkit-box;
        overflow: hidden;

        max-width: 58%;
        height: 78px;

        transition: color .5s;
        letter-spacing: .005em;
        text-overflow: ellipsis;

        color: $color-gray;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
    }
}
