@use 'presets' as *;

.sidebar-left
{
    display: flex;
    flex-direction: column;

    gap: $gap-s;
    order: 2;
    @include md-min
    {
        max-width: 220px;

        order: 1;
        flex-grow: 1;
    }
    @include md-xs
    {
        width: calc(50% - 7.5px);
    }
    @include xs
    {
        width: 100%;
    }
}
