@use 'presets' as *;

.sidebar-left
{
    display: none;

    @include md-min
    {
        display: flex;
        flex-direction: column;

        max-width: 220px;

        flex-grow: 1;
        gap: $gap-s;
    }
}
