@use "presets" as *;

.sidebar-left {
  display: flex;
  flex-direction: column;
  order: 2;

  gap: $gap-s;
  @include md-min {
    flex-grow: 1;
    order: 1;

    max-width: 220px;
  }
  @include md-xs {
    width: calc(50% - 7.5px);
  }
  @include xs {
    width: 100%;
  }
}
