@use "../presets" as *;

.header {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 45px 0 0;

  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  background-color: rgba($color-dark, 0.5);

  @include sm {
    padding: 15px 0 0;
  }
}
