@use "../presets" as *;

.header-menu {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 51px;

  background-color: rgba($color-dark, 0.3);

  @include sm {
    min-height: 50px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    @include sm {
      display: none;
      &--active {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        height: auto;
        padding: 50px 5px 0;

        gap: 0;
      }
    }
  }

  &__link {
    padding: 10px $gap-s;

    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;

    color: inherit;
    border-radius: 4px;

    @include sm {
      display: block;

      width: 100%;

      text-align: center;
      &:last-child {
        margin-bottom: 5px;
      }
    }
    &.active {
      color: $color-accent-dark;
      background-color: rgba($color-dark, 0.4);
      text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
    }

    &:hover {
      color: $color-accent;
      background-color: rgba($color-dark, 0.3);
      text-shadow: 1px 1px 3px #000000, 1px 1px 10px #000000;
    }
  }
}
